body, input {
	color: #eee;
	font-family: 'Coming Soon', Arial, cursive;
}

body {
	background-color: #222;
	background-image: url('600x800/SSFS_CHALK_BOARD_TXT_FREE_600x800 (2).jpg');
	background-size: cover;
	background-repeat: repeat;
}

input {
	background-color: transparent;
}

input:focus {
	outline: none;
}

#entries {
}

	#entries .entry {
		position: relative;
	}
	
	#entries .entry#entry_template {
		display: none;
	}
	
	#entries .entry .content, #entries .entry .content_edit {
		font-size: 28px;
		margin: 0;
		border: 0;
		padding: 0;
	}
	
	#entries .entry .content {
		display: inline-block;
		margin-right: 50px;
	}
	
	#entries .entry .actions {
		display: inline-block;
	}
	
		#entries .entry .actions .action {
			margin: 0 5px;
		}
	
	#entries .entry .content_edit {
		display: none;
		position: absolute;
		top: 0;
		width: auto;
		padding-bottom: 0px;
		border-bottom: 2px #eee solid;
		border-radius: 2px;
	}
	
	#entries .entry .content_edit:hover {
		
	}

	
#actions {
	position: absolute;
	bottom: 20px;
	clear: left;
}

	#actions #add_entry {

	}